--trusted-host artifacts.dell.com
--extra-index https://artifacts.dell.com/artifactory/api/pypi/agtsdk-1007569-pypi-prd-local/simple 
mcp==1.9.0
httpx
fastapi
uvicorn
a2a-sdk==0.3.4
aiofiles
python-dotenv
langgraph
langfuse==2.60.3
langchain==0.3.24
langchain-openai
langchain-experimental==0.3.4
langchain-mcp-adapters==0.1.0
aia-auth-client==0.0.8 
scikit-learn
matplotlib
pydantic
pandas

